= render "layouts/header"
= render "layouts/category"
.haikei
  .mypage-container
    .main-content
      .mypage-user
        .mypage-user__box
          .mypage-user__icon
          .mypage-user__name
            kuku
          .mypage-user__number
            評価 0 出品数 0
      .mypage-tab-box1
        .mypage-tab-box1__tabs
          .a-active
            お知らせ
          .a
            やることリスト
        .mypage-tab-box1__content
          .mypage-item__link
            .figure
            .mypage-item__body
              .mypage-item__text
                事務局から個別メッセージ「ログイン」
                .time
                  6日前
            %i.fas.fa-chevron-right
          .mypage-item__link
            .figure
            .mypage-item__body
              .mypage-item__text
                事務局から個別メッセージ「ログイン」
                .time
                  6日前
            %i.fas.fa-chevron-right
          .mypage-go-ichiran
            .mypage-go-ichiran__btn
              一覧を見る

      .mypage-tab-box2
        .mypage-tab-box2__head
          購入した商品
        .mypage-tab-box2__tabs
          .a-active
            取引中
          .a
            過去の取引
        .mypage-tab-box2__content
          .mypage-item__not-found
            取引中の商品がありません


    .left-content
      .mypage-nav
        .mypage-nav__list
          .mypage-nav__list-item
            マイページ
            %i.fas.fa-chevron-right
          
        .mypage-nav__title
          設定
        .mypage-nav__list
          .mypage-nav__list-item
            支払い方法
            %i.fas.fa-chevron-right
          .mypage-nav__list-item
            ログアウト
            %i.fas.fa-chevron-right

  = render "layouts/footer"
  = render "layouts/camera"