* {
  box-sizing: border-box;
}
.pcHeader {
  padding: 0 60px;
  height: 110px;
  .headerInner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    .mainheader {
      position: relative;
      align-items: center;
      height: 60px;
      padding-top: 20px;
      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .image {
          width: 140px;
          display: block;
          margin-right: 30px;
          .image-logo {
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      .searchBox {
        margin-left: auto;
        width: 100%;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          .utf8 {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          .searchBox {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          button {
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            .image {
              width: 100%;
              vertical-align: bottom;
            }
          }
          input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
      }
      .resultLists {
        display: flex;
        position: absolute;
        right: 0;
        top: 36px;
        z-index: 2;
        padding-inline-start: 0px;
      }
    }
    .nav {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      margin-bottom: 20px;
      height: 40px;
      .listsLeft {
        position: relative;
        display: flex;
        &__item {
          list-style: none;
          padding: 0;
          .catBtn {
            background-image: url(icon_category.svg);
            color: #333;
            text-decoration: none;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
          .tree.displayNone {
            z-index: 2;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;
            display: none;
            .categoryTree {
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
              .categoryTree--item {
                position: relative;
                a {
                  color: #333;
                  text-decoration: none;
                  line-height: 32px;
                  background-position: center right;
                  background-repeat: no-repeat;
                  background-size: 18px;
                  padding-right: 30px;
                }
              }
            }
          }
        }
      }
      .listsLeft {
        display: flex;
        line-height: 38px;
        padding: 0 0 0 16px;
        .brandBtn {
          color: #333;
          text-decoration: none;
          list-style: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        .brandsPulldown {
          position: absolute;
          z-index: 1;
          background-color: #fff;
        }
      }
      .listsRight {
        margin-left: auto;
        display: flex;
        list-style: none;
        padding-inline-start: 0px;
        .listsRight__item {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
        .listsRight__item {
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          .a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}