.main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  &__buy{
    height: 200px;
    width: 500px;
    line-height: 200px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
  }
}