.input {
  width: 100vw;
  height: 100vh;
  &__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .logoHeader {
      background-color: #f8f8f8;
      padding-top: 40px;
      padding-bottom: 40px;
      align-items: center;
      display: flex;
      height: 56px;
      justify-content: center;
      .logoArea {
        .headerLogo {
          height: 49px;
          margin: 0 auto;
        }
      }
    }
    .inputArea {
      max-width: 100%;
      height: 2600px;
      background-color: #f8f8f8;
      &__input { 
        position: relative;
        background-color: #ffffff;
        margin: 0 auto;
        max-width: 700px;
        height: 800px;
        &_imageArea {
          height: 300px;
          max-width: 100%;
          position: relative;
          border-bottom: solid 2px #f8f8f8;
          &_top {
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_describe {
            font-size: 14px;
            margin-left: 40px;
          }
          &_form {
            border: 1.5px lightgray;
            background-color: #f8f8f8;
            border-style: dotted;
            height: 170px;
            width: 620px;
            margin: 0 auto;
            margin-top: 20px;
            position: absolute;
            right: 40px;
            .fas{
              height: 100%;
              width: 100%;
              line-height: 170px;
              text-align: center;
            }
          }
          .img{
            .img_image{
              width: 20%;
              height: 120px;
              border: solid 1px gainsboro;
            }
            .img_btn{
              display: flex;
              &_edit{
                height: 50px;
                width: 60px;
                text-align: center;
                line-height: 50px;
              }
              &_destroy{
                height: 50px;
                width: 60px;
                text-align: center;
                line-height: 50px;
              }
            }
          }
          .previews_box{
            width: 120px;
            height: 170px;
          }
        }
        &_productArea {
          height: 500px;
          max-width: 100%;
          &_name {
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form__group {
            height: 70px;
            .productName {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }
          &_describe {
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form__describe {
            height: 250px;
            .productDescribe {
              height: 200px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }
        }

        &_details {
          height: 500px;
          max-width: 100%;
          background-color: #ffffff;
          border-bottom: solid 2px #f8f8f8;
          &_top {
          color: gray;
          padding: 40px 20px 20px 40px;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          }
          &_first {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form_category {
            height: 50px;
            .category {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }

          &_second {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form_brand {
            height: 50px;
            #product_brand_id {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }

          &_third {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form_status {
            height: 50px;
            #product_status {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }
        }


        &_delivery {
          height: 500px;
          max-width: 100%;
          background-color: #ffffff;
          border-bottom: solid 2px #f8f8f8;
          &_top {
          color: gray;
          padding: 40px 20px 20px 40px;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          }
          &_first {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form_charge {
            height: 50px;
            #product_shipping_cost {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }

          &_second {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form_area {
            height: 50px;
            .area {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }

          &_third {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_alert {
              background-color: red;
              font-size: 12px;
              color: #ffffff;
              margin-left: 10px;
              font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
              padding: 2px 3px 2px 3px;
              border-radius: 3px;
            }
          }
          &_form_date {
            height: 50px;
            #product_shipping_days {
              height: 50px;
              width: 620px;
              border-radius: 5px;
              margin-left: 40px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }
        }

        &_priceArea {
          height: 600px;
          max-width: 100%;
          background-color: #ffffff;
          border-bottom: solid 2px #f8f8f8;
          &_top {
            color: gray;
            padding: 40px 20px 10px 40px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
          }
          &_price {
            font-size: 14px;
            display: flex;
            margin: 0px 20px;
            padding: 40px 20px 20px;
            font-size: 14px;
            font-weight: bold;
            &_area {
              font-size: 14px;
              display: flex;
              font-size: 14px;
              font-weight: bold;
              height: 16px;
              &_alert {
                background-color: red;
                font-size: 12px;
                color: #ffffff;
                margin-left: 10px;
                font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
                padding: 2px 3px 2px 3px;
                border-radius: 3px;
              }
            }
            #product_price {
              height: 50px;
              width: 400px;
              margin-left: 50px;
              border-radius: 5px;
              margin-left: 120px;
              font-size: 14px;
              border: solid 1px #33ccff;
            }
          }
          &_charge {
            font-size: 13px;
            margin: 40px 0 20px 40px;
          }
          &_profit {
            font-size: 13px;
            margin: 50px 0 50px 40px; 
          }
          &_button {
            margin: 0 auto;
            height: 130px;
            width: 350px;
            &_box {
              &_content {
                // height: 50px;
                // border-radius: 10px;
                // background-color: #33ccff;
                // color: #ffffff;
                // line-height: 50px;
                // font-weight: bold;
                // text-align: center;
                // text-decoration: none;
                .sell {
                  height: 130px;
                  width: 350px;
                  text-decoration: none;
                  color: #ffffff;
                  height: 50px;
                  border-radius: 10px;
                  background-color: #33ccff;
                  color: #ffffff;
                  line-height: 50px;
                  font-weight: bold;
                  text-align: center;
                  text-decoration: none;
                  transition: background-color .5s;
                }
              }
              &_draft {
                .save {
                  height: 130px;
                  width: 350px;
                  text-decoration: none;
                  color: #ffffff;
                  height: 50px;
                  border-radius: 10px;
                  background-color: lightgray;
                  color: #ffffff;
                  line-height: 50px;
                  font-weight: bold;
                  text-align: center;
                  margin-top: 15px;
                }
              }
              &_back {
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 14px;
                color: #33CCFF;
                margin-top: 20px;
                .backBtn {
                  text-decoration: none;
                }
              }
            }
          }
          &_caution {
            font-size: 11px;
            text-align: center;
            margin: 60px 40px 40px 40px;
          }
        }

      }
      .copyright {
        margin: 0 auto;
        &_policy {
          height: 50px;
          display: flex;
          font-size: 12px;
          margin-top: 40px;
          &_blank {
            width: 170px;
          }
          &_privacy {
            margin-right: 15px;
          }
          &_terms {
            margin-right: 15px;
          }
        }
        &_logo {
          margin: 0 auto;
          width: 100px;
          height: 30px;
          background-color: gray;
        }
        &_font {
          margin: 0 auto;
          font-size: 9px;
          width: 100px;
        }
      }
    }

  }
}
