* {
  box-sizing: border-box;
}

.single-container{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  text-align: center;
  background-color: whitesmoke;
  padding: 40px;
  .single-main {
    .l-single-container{
      background: white;
      width: 700px;
      margin: 40px auto 40px;
      padding: 20px 0;
      &__v{
        &_a{
          display: block;
          max-width: 343px;
          margin: 0 auto;
          .field{
            margin-top: 24px;
            .signup-label{
              font-weight: 600;
              font-size: 14px;
            }
            .form-require{
              background-color: #3CCACE;
              color: white;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              font-size: 12px;
              border-radius: 2px;
            }
            .form-box{
              height: 48px;
              width: 80%;
              margin-top: 5px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              line-height: 1.5;
            }
            .form-box_a{
              height: 48px;
              width: 40%;
              margin-top: 5px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              line-height: 1.5;
            }
            .form-box_b{
              height: 48px;
              width: 27%;
              margin-top: 5px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              line-height: 1.5;
            }
          }
          .title {
            font-weight: bold;
            margin-top: 30px;
          }
        }
        .button-class {
          position: relative;
          button{
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            text-align: center;
            margin: 60px 0 0;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: white;
          }
          .actions {
            display: none;
            position: absolute;
            top: 20px;
            left: 150px;
          }
        }
      }
    }
  }
}