* {
  box-sizing: border-box;
}
.contents{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  height: 100vh;
  width: 100%;
  ul{
    list-style: none;
  }
  &__box{
    &_one{
      height: 560px;
      width: 100%;
      background-image: url(/images/bg-mainVisual-pict_pc.jpg);
      background-size: cover;
      background-position: top center;
      position: relative;
      &_common{
        position: absolute;
        top: 230px;
        left: 50px;
        &_title{
          font-size: 60px;
          color: white;
          top: 210px;
          left: 70px;
          text-shadow: 1px 1px 5px #808080;
        }
        &_list{
          font-size: 18px;
          color: white;
          text-shadow: 1px 1px 5px #808080;
          list-style: none;
          line-height: 30px;
          margin-top: 16px;
        }
        .inner__icon {
          width: 100%;
          display: flex;
          margin: auto 0;
          margin-top: 24px;
          .aBtn {
            width: 180px;
            padding-top: 0px;
            height: 54px;
            vertical-align: bottom;
            margin: 5px;
          }
          .gBtn {
            width: 180px;
            vertical-align: bottom;
            margin: 5px;
          }
        }
      }
    }
    &_two{
      height: 660px;
      width: 100%;
      background-color: pink;
      &_title{
        height: 150px;
        background-color: white;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &_feature{
          font-size: 25px;
          color: #333;
          position: relative;
          display: inline-block;
          margin-bottom: 1em;
          padding-top: 30px;
        }
        h2:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -15px;/*線の上下位置*/
          display: inline-block;
          width: 70px;/*線の長さ*/
          height: 4px;/*線の太さ*/
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);/*位置調整*/
          background-color: #3CCACE;/*線の色*/
        }
      }
      &_image{
        display: flex;
        justify-content: center;
        background-color: #fff;
        span{
          color: #3CCACE;
        }
        &_left{
          position: relative;
          height: 600px;
          &_one{
            // ここの記載あとでまとめます
            height: 50px;
            width: 50px;
            background-color: #3CCACE;
            color: #fff;
            line-height: 50px;
            text-align: center;
            font-size: 30px;
            position: absolute;
            top: 0;
          }
          &_article{
            height: 80px;
            width: 300px;
            font-size: 25px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
          &_note{
            width: 300px;
            font-size: 17px;
            line-height: 25px;
          }
        }
        &_center{
          margin: 0 50px 0;
          position: relative;
          &_two{
            height: 50px;
            width: 50px;
            background-color: #3CCACE;
            color: #fff;
            line-height: 50px;
            text-align: center;
            font-size: 30px;
            position: absolute;
            top: 0;
          }
          &_article{
            height: 80px;
            width: 300px;
            font-size: 25px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
          &_note{
            width: 300px;
            font-size: 17px;
            line-height: 25px;
          }
        }
        &_right{
          position: relative;
          &_three{
            height: 50px;
            width: 50px;
            background-color: #3CCACE;
            color: #fff;
            line-height: 50px;
            text-align: center;
            font-size: 30px;
            position: absolute;
            top: 0;
          }
          &_article{
            height: 80px;
            width: 300px;
            font-size: 25px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
          &_note{
            width: 300px;
            font-size: 17px;
            line-height: 25px;
            text-align: center;
          }
        }
      } 
    }
    &_three{
      height: 400px;
      width: 100%;
      background-image: url(/images/bg-topMiddleDl-pict.jpg);
      background-size: cover;
      background-position: bottom center;
      position: relative;
      &_common{
        position: absolute;
        left: 50px;
        top: 100px;

        &_title{
          font-size: 25px;
          color: white;
          text-shadow: 1px 1px 5px #808080;
        }
        &_list{
          font-size: 18px;
          color: white;
          text-shadow: 1px 1px 5px #808080;
          list-style: none;
          line-height: 30px;
          margin: 20px 0 30px;
        }
        &_btn{
          .inner__icon {
            width: 100%;
            display: flex;
            margin: auto 0;
            .aBtn {
              width: 180px;
              padding-top: 0px;
              height: 54px;
              vertical-align: bottom;
              margin: 5px;
            }
            .gBtn {
              width: 180px;
              vertical-align: bottom;
              margin: 5px;
            }
          }
        }
      }
    }
    &_four{
      height: 660px;
      width: 100%;
      &_title{
        height: 150px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &_feature{
          font-size: 25px;
          color: #333;
          position: relative;
          display: inline-block;
          margin-bottom: 1em;
          padding-top: 30px;
        }
        h2:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -15px;/*線の上下位置*/
          display: inline-block;
          width: 70px;/*線の長さ*/
          height: 4px;/*線の太さ*/
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);/*位置調整*/
          background-color: #3CCACE;/*線の色*/
        }
      }
      &_image{
        display: flex;
        justify-content: center;
        background-color: #fff;
        img {
          margin: 0 40px;
        }
        &_left{
          position: relative;
          height: 100%px;
          &_one{
            // ここの記載あとでまとめます
            height: 50px;
            width: 50px;
            background-color: #3CCACE;
            color: #fff;
            line-height: 50px;
            font-size: 30px;
            position: absolute;
            top: 0;
          }
          &_article{
            height: 80px;
            width: 300px;
            font-size: 19px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
          &_note{
            width: 300px;
            font-size: 17px;
            line-height: 25px;
          }
        }
        &_center{
          margin: 0 50px 0;
          position: relative;
          &_two{
            height: 50px;
            width: 50px;
            background-color: #3CCACE;
            color: #fff;
            line-height: 50px;
            text-align: center;
            font-size: 30px;
            position: absolute;
            top: 0;
          }
          &_article{
            height: 80px;
            width: 300px;
            font-size: 17px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
          &_note{
            width: 300px;
            font-size: 17px;
            line-height: 25px;
          }
        }
        &_right{
          position: relative;
          &_three{
            height: 50px;
            width: 50px;
            background-color: #3CCACE;
            color: #fff;
            line-height: 50px;
            text-align: center;
            font-size: 30px;
            position: absolute;
            top: 0;
          }
          &_article{
            height: 80px;
            width: 300px;
            font-size: 17px;
            line-height: 80px;
            text-align: center;
            font-weight: bold;
          }
          &_note{
            width: 300px;
            font-size: 17px;
            line-height: 25px;
            text-align: center;
          }
        }
      } 
    }
  }
  .contents__category{
    height: 100%;
    background-color: #F8F8F8;
    padding-top: 40px;
    &_box{
      height: 150px;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &_section{
        line-height: 40px;
        &_title{
          font-size: 28px;
        }
        &_link{
          text-align: center;
          a{
            font-size: 24px;
            text-decoration: none;
            color: #3CCACE;
            font-weight: bold;
          }
        }
      }
    }
    &_post{
      width: 100%;
      display: flex;
      height: 250px;
      justify-content: center;
      flex-wrap: wrap;
      a{
        text-decoration: none;
        color: #000;
      }
      &_box{
        height: 250px;
        width: 220px;
        margin-right: 40px;
        position: relative;
        &_souldout{
          height: 39px;
          width: 100%;
          top: 60px;
          color: white;
          text-align: center;
          background-color: red;
          position: absolute;
          font-size: 39px;
          opacity: 0.5;
        }
        &_iamge{
          height: 150px;
          width: 220px;
          background-color: #fff;
        }
        &_article{
          height: 100px;
          width: 220px;
          background-color: #fff;
          line-height: 25px;
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding: 15px;
          &_detail{
            &_tax{
              font-size: 10px;
              color: #808080;
            }
          }
          &_star{
            display: flex;
            justify-content: space-between;
            line-height: 75px;
            &_namber{
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
