.haikei {
  background-color: #f5f5f5;
  .mypage-container {
    display: flex;
    margin: 0 210px 0;
    padding: 40px 0;
    color: #333333;
    .main-content {
      height: 946px;
      width: 700px;
      .mypage-user {
        background-color: khaki;
        height: 200px;
        .mypage-user__box {
          height: 111px;
          padding: 70px 0;
          .mypage-user__icon {
            background-image: url('member_photo_noimage_thumb.png');
            height: 60px;
            width: 60px;
            margin: 0 320px;
            background-position: center;
            background-size: contain; //width, heightと同じになる
            background-repeat: no-repeat;
          }
          .mypage-user__name {
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin-top: 8px;
          }
          .mypage-user__number {
            text-align: center;
            font-size: 14px;
            margin-top: 8px;
          }
        }
      }
      
      .mypage-tab-box2 {
        height: 382px;
        .mypage-tab-box2__head {
          background-color: #fafafa;
          line-height: 72px;
          font-size: 16px;
          font-weight: bold;
          padding: 0 16px;
        }
        .mypage-tab-box2__content {
          .mypage-item__not-found {
            background-color: #ffffff;
            padding: 110px 0;
            font-weight: bold;
            color: #cccccc;
            text-align: center;
          }
        }
      }
    }

    .left-content{
      order: -1;
      width: 280px;
      margin-right: 40px;
      .mypage-nav {
        .mypage-nav__list {
          .mypage-nav__list-item {
            background-color: #ffffff;
            line-height: 48px;
            border-bottom: solid 1px #eee;
            font-size: 14px;
            padding: 0 16px;
            position: relative;
            .hoge {
              text-decoration: none;
              color: #333333;
            }
            .fa-chevron-right {
              position: absolute;
              top: 17px;
              right: 16px;
            }
          }
        }
        .mypage-nav__title{
          margin-top: 40px;
          font-weight: bold;
        }
      }
    }
  }
}