.input
  .input__main
    .logoHeader 
      .logoArea
        %span
          = image_tag "/assets/material/logo/logo.png", class: "headerLogo"
    .inputArea
      .inputArea__input
        
        