.input
  .input__main
    .logoHeader 
      .logoArea
        %span
          = image_tag "/assets/material/logo/logo.png", class: "headerLogo"
    .inputArea
      .inputArea__input
        .inputArea__input_imageArea
          .inputArea__input_imageArea_top 
            出品画像
            .inputArea__input_imageArea_top_alert 必須
          .inputArea__input_imageArea_describe 最大10枚までアップロードできます
          .inputArea__input_imageArea_form
          
        .inputArea__input_productArea
          .inputArea__input_productArea_name
            商品名
            .inputArea__input_productArea_name_alert 必須
          .inputArea__input_productArea_name_form 

          .inputArea__input_productArea_describe
            商品の説明
            .inputArea__input_productArea_describe_alert 必須
          .inputArea__input_productArea_describe_form
          
        .inputArea__input_details
          .inputArea__input_details_top
            商品の詳細
          .inputArea__input_details_first
            カテゴリー
            .inputArea__input_details_first_alert 必須
          .inputArea__input_details_form

          .inputArea__input_details_second
            ブランド
            .inputArea__input_details_second_alert 必須
          .inputArea__input_details_form  

          .inputArea__input_details_third
            商品の状態
            .inputArea__input_details_third_alert 必須
          .inputArea__input_details_second_form


        .inputArea__input_details
          .inputArea__input_details_top
            配送について
          .inputArea__input_details_first
            配送料の負担
            .inputArea__input_details_first_alert 必須
          .inputArea__input_details_form

          .inputArea__input_details_second
            発送元の地域
            .inputArea__input_details_second_alert 必須
          .inputArea__input_details_form  

          .inputArea__input_details_third
            発送までの日数
            .inputArea__input_details_third_alert 必須
          .inputArea__input_details_form

        -# .input_details
        -#   .input_details_top
        -#     配送について
        -#   .details_first
        -#     配送料の負担
        -#     .details_first__alert 必須
        -#   .details_first_form

        -#   .details_second
        -#     発送元の地域
        -#     .details_second__alert 必須
        -#   .details_second_form  

        -#   .details_third
        -#     発送までの日数
        -#     .details_third__alert 必須
        -#   .details_second_form

     
        